<html>
<head>
	<title>Roodi Results</title>
	<style>
	<%= inline_css("default.css") %>
	</style>
</head>

<body>
	<h1>Roodi Results</h1>
  <a href="index.html">back to menu</a>
  <p><a href="http://roodi.rubyforge.org/">Roodi</a> parses your Ruby code and warns you about design issues you have based on the checks that is has configured.</p>
	<table>
		<tr>
		  <th>File Path</th>
		  <th>Warning</th>
    </tr>
    <% count = 0 %>
    <% @roodi[:problems].each do |problem| %>
      <tr class='<%= cycle("light", "dark", count) %>'>
        <td><%= problem[:file] %>:<%= problem[:line] %></td>
        <td><%= problem[:problem] %></td>
      </tr>
      <% count += 1 %>
  	<% end %>
	</table>
	<p>Generated on <%= Time.now.localtime %></p>
</body>
</html>
