.block#block-tables
  .content
    %h2.title Databags
    .inner
      = render('navigation', :active => 'index')
    .content
      .inner
        %table.table
          %thead
            %tr
              %th.first{:colspan => 2} Databag Name
              %th &nbsp;
              %th.last &nbsp;
          %tbody
            - @databags.sort.each_with_index do |databag, index|
              %tr{:class => "#{index % 2 == 1 ? 'odd' : 'even'}"}
                %td{:colspan => 2}= link_to databag[0], databag_path(databag[0])
                %td
                  = link_to('Edit', databag_path(databag[0]))
                  |
                  = link_to('Delete', databag_path(databag[0]), :method => "delete", :confirm => "Really delete Databag #{databag[0]}?  There is no undo.")
