!!! XML
!!!
%html
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html; charset=utf-8" }
    %title Chef Server
    = css_include_tag "base", "themes/djime-cerulean/style", "chef"
  %body
    #container
      #header
        %h1= link_to "Chef REST API", absolute_url(:top)
      #main-navigation
        .clear
      #wrapper
        #main
          = catch_content :for_layout
          #footer
            .block
              %p Copyright &copy; 2009 Opscode, Inc.
        #sidebar
          .block.notice#sidebar_block_notice= catch_content :sidebar_block_notice
          .block#sidebar_block= catch_content :sidebar_block
        .clear
