!!! XML
!!! 5
%html
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html; charset=utf-8" }
    %title Chef Server
    = css_include_tag "base", "themes/djime-cerulean/style", "chef", "/facebox/facebox.css", "jquery-ui-1.7.1.custom", "jquery.treeTable"
    = js_include_tag "jquery-1.5.2.min", "jquery.jeditable.mini", "jquery.localscroll", "jquery.scrollTo", "jquery.tools.min"
    = js_include_tag "/facebox/facebox.js"
    = js_include_tag "jquery-ui-1.7.1.custom.min"
    = js_include_tag "jquery.treeTable.min"
    = js_include_tag "chef"

  %body
    #container
      #header
        %h1= link_to "Chef Server", url(:top)
      #wrapper
        #main.loginPage
          - unless message.empty?
            .block#block-messages
              .content
                %h2.title Messages
                .inner
                  .flash
                    - message.each do |type, msg|
                      %div{:class => "message #{type}"}
                        %p= msg
          = catch_content :for_layout
          #footer
            .block
              %p= "Version #{chef_version} &mdash; Copyright &copy; 2009-#{Time.now.year} Opscode"
        #sidebar
          .block.notice#sidebar_block_notice= catch_content :sidebar_block_notice
          .block#sidebar_block= catch_content :sidebar_block
        .clear
