<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta content='en' http-equiv='Content-Language' />
    <title>metrics</title>
    <style>
    <%= inline_css("css/reset.css") %>
    <%= inline_css("css/buttons.css") %>
    <%= inline_css("css/integrity.css") %>
    <%= inline_css("css/default.css") %>
    </style>
    <link REL="SHORTCUT ICON" HREF="/favicon.ico">
    <script language="javascript" src="js-class.js" type="text/javascript"></script>
    <script language="javascript" src="bluff-min.js" type="text/javascript"></script>
    <script language="javascript" src="excanvas.js" type="text/javascript"></script>
  </head>
  <body>
    <div id='header'>
      <h1><a href="/">metrics</a> | <a href="index.html"><%= @name %></a></h1>
      <address class='watermark'>
        built with
        <a href='http://metric-fu.rubyforge.org/'>metric-fu</a>
      </address>
    </div>
    <div id='content'>
      <%= @html %>
    </div>
  </body>
</html>
