!!! 5
%html
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html; charset=utf-8" }
    %title Chef Server
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

  %body
    #container
      #header
        %h1
          = link_to "Chef Server", top_path
          %label{:for => 'environment-select'} Environment:
          %select{:name => 'environment-select', :onchange => 'jump(this)', :size => 1, :class => 'title-select'}
            - current_env = session[:environment]
            %option{:value => environment_select_url('_none'), :selected => current_env == nil} None
            - @environments.each do |env|
              %option{:value => environment_select_path(env), :selected => current_env == env}= env
        #user-navigation
          %ul
            - if session[:user]
              %li= link_to "Edit account", users_edit_path(session[:user])
              %li= link_to "Logout #{h session[:user]} (#{session[:level].to_s})", users_logout_path, :confirm => "Are you sure you want to logout?"
            - else
              %li= link_to "Login", users_login_path, :rel => "facebox"
          .clear
        #main-navigation
          %ul
            = nav_link_item("Environments", :environments)
            = nav_link_item("Search", :searches)
            = nav_link_item("Status", :status)
            = nav_link_item("Roles", :roles)
            = nav_link_item("Nodes", :nodes)
            = nav_link_item("Cookbooks", :cookbooks)
            = nav_link_item("Databags", :databags)
            = nav_link_item("Clients", :clients)
            = nav_link_item("Users", :users)
          .clear
      #wrapper
        #main
          - unless flash.empty?
            .block#block-messages
              .content
                %h2.title Messages
                .inner
                  .flash
                    - flash.each do |type, msg|
                      %div{:class => "message #{type}"}
                        %p= msg
          = yield
          #footer
            .block
              %p= raw("Version #{chef_version} &mdash; Copyright &copy; 2009-#{Time.now.year} Opscode")
        #sidebar
          .block.notice#sidebar_block_notice= yield :sidebar_block_notice
          .block#sidebar_block= yield :sidebar_block
        .clear
