.block#block-tables
  .content
    %h2.title
      Cookbooks
    .inner
      %table.table#cookbook_version_table
        %thead
          %tr
            %th Cookbook
            %th Latest Version
            %th Other Versions
        %tbody.cookbook_versions
          - @cl.keys.sort.each do |cookbook|
            - versions = @cl[cookbook]
            %tr
              %td= cookbook
              %td
                %ul.cookbook_versions{ :id => "#{cookbook}_versions" }
                  - versions[0..4].each_with_index do |v, i|
                    - klass = i > 0 ? "other_version" : "latest_version"
                    %li{ :class => klass }
                      = link_to(v["version"], v["url"])
                - if versions.length > 5
                  = all_versions_link(cookbook)
              %td.show_more
                = versions.length > 1 ? more_versions_link(cookbook) : ""
