.block#block-text
  .content
    %h2.title= "Cookbook: #{h @cookbook["name"]}"
    .inner
      .accordion
        - unless @cookbook["libraries"].empty?
          %h2.head= link_to "Library Files", "#"
          .files
            - @cookbook["libraries"].each do |f|
              .code
                %h4.head= link_to File.basename(f["name"]), "#"
                %pre.ruby= syntax_highlight(get_file(f["uri"]))      
        - unless @cookbook["attributes"].empty?
          %h2.head= link_to "Attribute Files", "#"
          .files
            - @cookbook["attributes"].each do |f|
              .code
                %h4.head= link_to File.basename(f["name"]), "#"
                %pre.ruby= syntax_highlight(get_file(f["uri"]))  
        - unless @cookbook["definitions"].empty?
          %h2.head= link_to "Definition Files", "#"
          .files
            - @cookbook["definitions"].each do |f|
              .code
                %h4.head= link_to File.basename(f["name"]), "#"
                %pre.ruby= syntax_highlight(get_file(f["uri"]))
        - unless @cookbook["recipes"].empty?
          %h2.head= link_to "Recipe Files", "#"
          .files
            - @cookbook["recipes"].each do |f|
              .code
                %h4.head= link_to File.basename(f["name"]), "#"
                %pre.ruby= syntax_highlight(get_file(f["uri"]))
        - unless @cookbook["templates"].empty?
          %h2.head= link_to "Template Files", "#"
          .files
            - @cookbook["templates"].each do |f|
              .code
                %h4.head= link_to File.basename(f["name"]), "#"
                %pre.ruby= syntax_highlight(get_file(f["uri"]))