.content
  .inner
    - if form_for != "edit"
      %div.group.form
        %label.label Name
        = text_field :id => "node_name", :name => "name", :class => "text_field", :value => params.has_key?(:name) ? h(params[:name]) : @node.name 
        %span.description The name of the Node 

    %div.group.form
      %table.sortable
        %tr
          %td 
            %label.label Available Roles
          %td
            %label.label Run List 
        %tr
          %td
            %div.sortable
              %ul#node_available_roles.connectedSortable
                - @available_roles.each do |role|
                  %li{ :id => "role[#{role}]", :class => 'ui-state-highlight' }= h role 
          %td{:rowspan => 3}
            %div.sortable.run-list
              %ul#for_node.connectedSortable
                - @run_list.each do |entry|
                  %li{ :id => h(entry.to_s), :class => entry.type == 'role' ? 'ui-state-highlight' : 'ui-state-default' }= h entry.name 
          %td.help
            %span.description
              Drag recipes from the list of Available Recipes section on the left, and drop them
              in the "Recipes for this node" section on the right.  Then sort the recipes for this node list to the order you would like to see the recipes applied.
        %tr
          %td
            %label.label Available Recipes
        %tr
          %td
            %div.sortable
              %ul#node_available_recipes.connectedSortable
                - @available_recipes.each do |recipe|
                  %li{ :id => "recipe[#{recipe}]",:title => recipe, :class => 'ui-state-default' }= h recipe


    %div.group.form{:style => "position:relative;"}
      %label.label Attributes 
      = partial 'layout/jsonedit', :json =>@node.normal_attrs.to_json
    %div.group.form
      %span.description A JSON hash for default attributes for nodes of this node.  These attributes will only be applied if the node does not already have a value for the attributes.

    = form(:action => form_url, :method => :post, :id => form_id, :class => 'form') do
      %div.group
        .actions-bar
          .actions= submit submit_name, :id => submit_id, :class => 'button'

