%script{:type=>"text/javascript", :src => "/javascripts/drop_down_menu.js"}
.block#block-tables
  .content
    %h2.title
      Node List
      %select{:name => "choice", :onchange => "jump(this)", :size => "1"}
        %option{:value => ""} Environments
        %option{:value => ""} ------------
        %option{:value => url(:nodes)} All
        - @environments.each do |environment|
          %option{:value => url(:nodes_by_environment, :environment_id => environment), :selected => params[:environment_id] == environment}= environment
    .inner
      = partial('navigation', :active => 'index')
    .content
      .inner
        %table.table
          %tr
            %th.first{:colspan => 2} Name
            %th &nbsp;
            %th.last &nbsp;
          - even = false
          - if @node_list.empty?
            - if params[:environment_id]
              %td{:colspan => 4}= "The environment #{params[:environment_id]} has no nodes"
            - else
              %td{:colspan => 4}= "You have no nodes - try connecting one, or creating or editing a #{link_to('node', url(:nodes))}"
          - else
            - @node_list.each do |node|
              %tr{:class => even ? "even": "odd" }
                %td{:colspan => 2}= link_to node, url(:node, { :id => node } )
                %td
                  = link_to('Edit', url(:edit_node, node)) 
                  |
                  = link_to('Delete', url(:node, node), :method => "delete", :confirm => "Really delete Node #{node}?  There is no undo.")
                - even = (not even)

