.block#block-tables
  .content
    %h2.title Registrations
    .inner
      %table.table
        %tr
          %th.first Registration Name
          %th &nbsp
          %th Control
          %th.last &nbsp;
          - @registered_nodes.sort{ |a,b| a.name.to_s <=> b.name.to_s }.each_with_index do |node, index|
            %tr{:class => "#{index % 2 == 1 ? 'odd' : 'even'}"}
              %td{:colspan => 2}= link_to(node.name, registration_path(node.name))
              %td
                = link_to( (node.validated ? "Invalidate Registration" : "Validate Registration"), validate_registration_path(node.name), :method => "post", :confirm => "Are you sure you want to"  + (node.validated  ?  " invalidate " : " validate ") + "this node's registration?")
                |
                = link_to((node.admin ? "Remove Admin Rights" : "Grant Admin Rights"), admin_registration_path(node.name), :method => "post", :confirm => "Are you sure you want to"  + (node.admin ? " remove administrator privileges from this node?" : " grant administrator privileges to this node?"))
                |
                = link_to("Delete", registration_path(node.name), :method => "delete", :confirm => "Are you sure you want to delete this registration")
