.block#block-text
  .content
    %h2.title= "Registration #{@registered_node.name}"
    .inner
      = link_to "OpenID URL", openid_node_path(@registered_node.name.gsub(/\./, "_"))
      %br= "Validated: #{@registered_node.validated}"
      %br= "Admin: #{@registered_node.admin}"
