%div{ :id => 'node', :class => "#{session[:level] == :admin ? 'edit_area' : 'non_edit_area'}",  :to_update => @node.name}
  %table.table
    %tr
      %th.first Recipes
      %th.last &nbsp
    - if @node.recipes.empty?
      %tr
        %td{:colspan => 2} This node has no recipes applied, double click to add one.
    - else
      - @node.recipes.each_with_index do |recipe, index|
        %tr{:class => "#{index % 2 == 1 ? 'odd' : 'even'}"}
          %td{:colspan => 2}= recipe
  %table.table
    %tr
      %th.first Tags
      %th.last &nbsp
    - if @node[:tags].empty?
      %tr
        %td{:colspan => 2} This node has no tags applied, double click to add one.
    - else
      %tr
        %td{:colspan => 2}= @node[:tags].join(", ")
  %table.table
    %tr
      %th.first Attributes
      %th.last &nbsp
    - if @node.attribute.empty?
      %tr
        %td{:colspan => 2} This node has no attributes, double click to add one.
    - else
      %tr
        %td{:colspan => 2}= build_tree(@node)

