.secondary-navigation
  %ul
    %li.first.active= link_to('Show', slice_url(:node, @node.name))
    %li= link_to('Edit', slice_url(:edit_node, @node.name))
    %li= link_to('Delete', slice_url(:node, @node.name))
  .clear

.content
  .inner
    .left
      %h3 Recipes
      %table#recipes.table
        %tr
          %th.first Position
          %th.last Name
        - if @node.recipes.empty?
          %tr
            %td{:colspan => 2} This node has no recipes applied.
        - else
          - @node.recipes.each_index do |i|
            %tr
              %td.position= i
              %td= @node.recipes[i]
    .left
      %h3 Tags 
      %table#recipes.table
        %tr
          %th.first Tags
          %th.last &nbsp;
        %tr
          - if @node[:tags].empty?
            %td{:colspan => 2} This node has no tags applied.
          - else
            %td{:colspan => 2}= @node[:tags].join(", ")
      
    .left
      %h3 Attributes
      = build_tree('attrs', @node.attribute)

