- throw_content :header_content do
  = css_include_tag "jsonedit_main.css"
  = js_include_tag "json.js"
  = js_include_tag "yetii-min.js"
  %script{:type=>"text/javascript", :src => "/javascripts/jsonedit_main.js"}
.block#block-tables
  .content
    %h2.title= "Node #{h @node.name}"
    .inner
      = partial('navigation', :active => 'edit')
  = partial('form', :header => "Edit Node #{@node.name}", :form_id => 'edit_node', :submit_name => "Save Node", :submit_id => "edit_node_button", :form_for => 'edit', :form_url => slice_url(:node, escape_node_id(@node.name)) )

