.block#block-tables
  .content
    %h2.title Node List
    .inner
      %table.table
        %tr
          %th.first{:colspan => 2} Node Name
          %th Control
          %th.last &nbsp
        - if @node_list.empty?
          %tr
            %td{:colspan => 4}= "You appear to have no nodes - try connecting one, or validating an existing #{link_to('registration', slice_url(:registrations))}"
        - else
          - @node_list.each_with_index do |node, index|
            %tr{:class => "#{index % 2 == 1 ? 'odd' : 'even'}"}
              %td{:colspan => 2}= link_to node, slice_url(:node, { :id => node.gsub(/\./, "_" ) } )
              %td= link_to "Delete", slice_url(:node, { :id => node.gsub(/\./, "_") }), :method => "delete", :confirm => "Are you sure? There is no undo."