.block#block-tables
  .content
    %h2.title= "Node #{h @node.name}"
    .inner
      = partial('navigation', :active => 'show')

      .content
        .inner
          .left
            %h3 Run List
            %table.table
              %tr
                %th.first Position
                %th Name
                %th.last Type
                - if @node.run_list.empty?
                  %tr
                    %td{:colspan => 2} This node has no roles or recipes applied.
                - else
                  -@node.run_list.each_index do |i|
                    - @node.run_list[i] =~ /^(.+)\[(.+)\]$/
                    - type = $1
                    - name = $2 
                    %tr
                      %td.position= i
                      %td= name 
                      %td= type 
          .left
            %h3 Recipes
            %table#recipes.table
              %tr
                %th.first Position
                %th.last Name
              - if @node.recipes.empty?
                %tr
                  %td{:colspan => 2} This node has no recipes applied.
              - else
                - @node.recipes.each_index do |i|
                  %tr
                    %td.position= i
                    %td= @node.recipes[i]
          .left
            %h3 Tags 
            %table#recipes.table
              %tr
                %th.first Tags
                %th.last &nbsp;
              %tr
                - if (@node.attribute?(:tags) == false) || @node[:tags].empty?
                  %td{:colspan => 2} This node has no tags applied.
                - else
                  %td{:colspan => 2}= @node[:tags].join(", ")
            
          .left
            %h3 Attributes
            = build_tree('attrs', @node.attribute)


