.block#block-text
  .content
    %h2.title= "Node #{h @node.name}"
    .inner
      %div{ :id => 'node', :class => "#{session[:level] == :admin ? 'edit_area' : 'non_edit_area'}", :to_update => @node.name}
        %h2 Recipes
        %ol
          = recipe_list(@node)
        %h2 Attributes
        %ol
          = attribute_list(@node)