- throw_content(:header, "Registered OpenID Node #{@registered_node.name}")
%ol
  %li
    %a{ :href => url(:openid_node , { :id => @registered_node.name.gsub(/\./, "_") }) } OpenID URL
  %li= "Validated: #{@registered_node.validated}"
  %li= "Admin: #{@registered_node.admin}"
