<div class="content roleFormContainer">
  <%= form(:action => form_url, :method => :post, :id => form_id, :class => 'form') do -%>
    <% unless form_for == 'edit' %>
      <div class="group form">
        <label class="label" for="role_name">Name</label>
        <%= text_field :id => "role_name", :name => "name", :class => "text_field", :value => params.has_key?(:name) ? h(params[:name]) : @role.name %>
        <span class="description">The name of the Role</span>
      </div>
    <% end %>

    <div class="group form">
      <label class="label" for="role_description">Description</label>
      <%= text_area(params.has_key?(:description) ? h(params[:description]) : @role.description, :name => "description", :class => "text_area", :id => "role_description") %>
      <span class="description">A description of this Role</span>
    </div>

    <div class="group form" id="run_list_editor_container">
      <div id="availableRunListItemContainer" class="runListEditorColumn">
        <div id="available_roles_container" >
          <span class="runListEditorLabel">Available Roles</span>
          <div class="sortable runListAvailableItemContainer">
            <ul id="role_available_roles" class="connectedSortable runListAvailableItemList">
              <% @available_roles.each do |role| %>
                <li id="role[<%=h(role)  -%>]" class="ui-state-highlight runListItem"><%= h(role) -%></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div id="available_recipes_container">
          <span class="runListEditorLabel">Available Recipes</span>
          <div class="sortable runListAvailableItemContainer">
            <%= image_tag('indicator.gif', :class => 'spinner') -%>
            <ul id="role_available_recipes" class="connectedSortable runListAvailableItemList">
            </ul>
          </div>
        </div>
      </div>
      <div id="run_list_container" class="runListEditorColumn">
        <div id="environment_run_list_selector">
          <span class="runListEditorLabel">Run List for Environment:</span>
          <span id="environment_run_list_selection_control"><%= select :environment, :collection => @environments, :selected => @current_env%></span>
        </div>
        <div class="sortable runListContainer">
          <% if @run_list %>
            <ul class="ui-sortable connectedSortable runListItemList" id="for_role">
              <% @run_list.each do |item| %>
                <li id="<%=h(item)%>" class="<%= class_for_run_list_item(item) -%> runListItem"><%=h display_run_list_item(item)-%></li>
              <% end %>
            </ul>
          <% else %>
            <span class="todo">Run List Creator goes here</span>
          <% end %>
        </div>
      </div>
      <div id="current_run_list_display_container" class="runListEditorColumn">
        <span class="runListEditorLabel">Active Run List for <%= h(@current_env) -%></span>
        <div class="sortable activeRunListContainer">
          <div id="activeRunListName" class="todo">PREPROD</div>
          <ul class="runListItemList" id="active_run_list">
            <% @role.run_list_for(@current_env).each do |item| %>
              <li class="displayRunListItem"><%= h(item) -%></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="group form attrEditor">
      <label class="label">Default and Override Attributes</label>
      <%= partial 'layout/jsonedit', :json => { :defaults => @role.default_attributes, :overrides => @role.override_attributes }.to_json%>
      <span class="description">
        A JSON hash for default attributes for nodes of this role.  These attributes will only be applied if the node does not already have a value for the attributes.
      </span>
    </div>

    <div class="group">
      <div class="actions-bar">
        <%= submit(submit_name, :id => submit_id, :class => 'button') -%>
      </div>
    </div>
  <% end =%>
</div>
