<div class="runListWithControlsContainer <%= environment == @current_env ? 'active' : 'inactive' -%>" id="<%= environment %>">
  <div class="sortable runListContainer">

    <% run_list_class, empty_controls_class = run_list ? %w{active inactive} : %w{inactive active} -%>

    <ul class="ui-sortable connectedSortable runListItemList <%= run_list_class -%>" id="<%= environment %>">
      <% Array(run_list).each do |item| %>
        <li id="<%=h(item)%>" class="<%= class_for_run_list_item(item) -%> runListItem"><%=h display_run_list_item(item)-%></li>
      <% end %>
    </ul>
    <div class="emptyRunListControlsContainer <%= empty_controls_class -%>" id="<%=environment -%>">
      <div class="cloneRunListTitle">This role has no environment specific run list for the (<%= environment -%>) environment.</div>
      <div class="cloneRunListOption">
        <a href="javascript:void(0)" class="createEmptyRunListControl" id="<%= environment -%>">Create a new empty run list</a>
      </div>
      <div class="cloneRunListOption">
        Or, clone an existing run list: <%= select :environment_to_clone, options_from_collection_for_select(@existing_run_list_environments, :to_s, :to_s), :id => environment, :class => 'environmentToClone' %>
      </div>
    </div>
  </div>
    <div class="runListAdditionalControls" id="<%= environment -%>">
      <% if run_list && (environment != '_default')%>
        <a href="javascript:void(0);" class="deleteEnvRunList" id="<%= environment -%>">Remove environment specific run list for <%= environment %></a>
      <% end %>
    </div>
</div>