.block#block-tables
  .content
    %h2.title= "Role #{h @role.name}"
    .inner
      = render('navigation', :active => 'edit')
      = render('form', :header => "Edit Role #{@role.name}", :form_id => 'edit_role', :submit_name => "Save Role", :submit_id => "edit_role_button", :form_for => 'edit', :form_url => role_path(@role.name), :method => :put)
