.block#block-tables
  .content
    %h2.title Status
    .inner
      %table.table
        %tr
          %th.first Node Name
          %th Platform
          %th FQDN
          %th IP Address
          %th Uptime
          %th Last Check-in
          %th.last Run List
          - if @status.empty?
            %tr
              %td{:colspan => 7}= "You appear to have no nodes - try connecting one, or creating or editing a #{link_to('client', slice_url(:clients))}"
          - else
            - @status.sort.each_with_index do |node, index|
              %tr{:class => "#{index % 2 == 1 ? 'odd' : 'even'}"}
                %td= link_to(node[1].name, slice_url(:node, escape_node_id(node[1].name)))
                %td= "#{node[1]["platform"]} #{node[1]["platform_version"]}"
                %td= node[1]["fqdn"]
                %td= node[1]["ipaddress"]
                %td
                  .accordion
                    -unless node[1]["uptime"].nil?
                      = link_to(node[1]["uptime"].split(" ")[0..1].join(" ") , "#", :class => 'tooltip')
                      .tooltip
                        %table.table.tooltip
                          %tr
                            %td= node[1]["uptime"]
                            
                - unless node[1]["ohai_time"].nil?
                  - current_time = DateTime.now
                  - date = DateTime.parse(Time.at(node[1]["ohai_time"]).to_s)
                  - hours, minutes, seconds, frac = DateTime.day_fraction_to_time(current_time - date)
                  - hours_text   = "#{hours} hour#{hours == 1 ? '' : 's'}"
                  - minutes_text = "#{minutes} minute#{minutes == 1 ? '' : 's'}"
                  %td.flash
                    - status_class = ""
                    - if hours > 24 
                      - status_class = "message error"
                    - elsif hours > 1
                      - status_class = "message warning"
                    %div{ :class => status_class }
                      .accordion
                        - if hours > 48
                          - status_msg = "&gt; #{hours/24} days ago"
                        - elsif hours > 0
                          - status_msg = "&gt; #{hours_text} ago"
                        - elsif minutes < 1
                          - status_msg = "&lt; 1 minute ago"
                        - else
                          - status_msg = "#{minutes_text} ago"
                        = link_to(status_msg, "#", :class=> 'tooltip')
                        .tooltip
                          %table.table.tooltip
                            %tr
                              %td
                                = date 
                                %br
                                  - if hours == 0
                                    = "#{minutes_text} ago" 
                                  - else
                                    = "#{hours_text}, #{minutes_text} ago"
                - else
                  %td Not Checked In
                - unless node[1].run_list.nil?
                  %td
                    .accordion
                      = link_to("Run List", "#", :class => 'tooltip')
                      .tooltip
                        %table.table.tooltip
                          %tr
                            %th.first Position
                            %th Name
                            %th.last Type
                            - if node[1].run_list.empty?
                              %tr
                                %td{:colspan => 2} This node has no roles or recipes applied.
                            - else
                              - rl = Chef::RunList.new
                              - rl.reset(node[1].run_list)
                              -rl.each_index do |i|
                                - type, name, fname = rl.parse_entry(rl[i])
                                %tr
                                  %td.position= i
                                  %td= name 
                                  %td= type   

