.block#block-tables
  .content
    %h2.title Clients
    .inner
      = partial('navigation', :active => 'index')
    .content
      .inner
        %table.table
          %tr
            %th.first{:colspan => 2} Name
            %th &nbsp;
            %th.last &nbsp;
          - even = false;
          - @clients_list.each do |client|
            %tr{ :class => even ? "even" : "odd" }
              %td{:colspan => 2}= link_to(client, url(:client, client))
              %td
                = link_to('Edit', url(:edit_client, client)) 
                |
                = link_to('Delete', url(:client, client), :method => "delete", :confirm => "Really delete Client #{client}?  there is no undo.")
              - even = (not even)
