.block#block-tables
  .content
    %h2.title Clients
    .inner
      = render('navigation', :active => 'index')
    .content
      .inner
        %table.table
          %tr
            %th.first{:colspan => 2} Name
            %th &nbsp;
            %th.last &nbsp;
          - even = false;
          - @clients_list.sort_by {|value| value.downcase}.each do |client|
            %tr{ :class => even ? "even" : "odd" }
              %td{:colspan => 2}= link_to(client, client_path(client))
              %td
                = link_to('Edit', edit_client_path(client))
                |
                = link_to('Delete', client_path(client), :method => "delete", :confirm => "Really delete Client #{client}?  there is no undo.")
              - even = (not even)
