.block#block-tables
  .content
    %h2.title= "Client: #{h @client.name}"
    .inner
      = partial("navigation", :active => "show")
      .content
        .inner
          .left
            %h3 Admin
            = @client.admin
          .left
            %h3 Public Key
            %pre= convert_newline_to_br(@client.public_key)
          -unless @private_key.nil?
            .left
              %h3 Private Key (Will not show again, Please copy!)
              %h4.bold Please copy and save as the client's validation key (e.g. client.pem)
              %pre= convert_newline_to_br(@private_key)


