- throw_content(:sidebar_block_notice) do
  %h4 Where do I get a Login?
  %p Any existing Admin level user can create new users.
  %p To create the first user, please login with the default admin credential, which by default is:
  %p username: admin, password: p@ssw0rd1 (May be different if you've set it in Chef::Config)
  %b Please change the default password immediately after logging in!
  %p Once you have an User, you can associate an OpenID with the User and login using the OpenID as the User.
  %p Administrators can associate OpenID to any User.

.block#block-forms
  .content
    %h2.title Login
    .inner
      %form.form{ :method => "get", "accept-charset" => "UTF-8", :action => url(:openid_consumer_login) }
        .group
          .text_field= text_field :openid_identifier
        .group
          .check_box= check_box :name => "immediate", :label => "Use immediate mode", :value => "0"
        .group
          .check_box= check_box :name => "use_sreg", :label => "Request registration data", :value => "0"
        .group
          .check_box= check_box :name => "use_pape", :label => "Request phishing-resistent auth policy", :value => "0"
        .group
          .check_box= check_box :name => "force_post", :label => "Force the transaction to POST", :value => "0"
        .group
          =link_to("Or, log in with username and password.", url(:users_login))
        .group.navform
          .button= submit "Login &rarr;"
