.block#block-tables
  .content
    %h2.title= "Environment #{h @environment.name}: Cookbooks"
    .inner
      = partial("navigation", :active => "cookbooks")
      .content
        .inner
          .left
            %h3
            %table.table
              %tr
                %th.first Cookbook Name
                %th.last Version
              - if @cookbooks.empty?
                %tr
                  %td{:colspan => 2} No cookbooks will be loaded for this environment
              - else
                - @cookbooks.each do |cookbook, version|
                  %tr
                    %td= link_to cookbook, url(:show_specific_version_cookbook, :cookbook_id => cookbook, :cb_version => version)
                    %td= version
