.block#block-tables
  .content
    %h2.title= "Environment #{h @environment.name}: Nodes"
    .inner
      = partial("navigation", :active => "nodes")
      .content
        .inner
          .left
            %h3
            %table.table
              %tr
                %th.first Node Name
                %th.last
              - if @nodes.empty?
                %tr
                  %td{:colspan => 2} There are no nodes in this environment
              - else
                - @nodes.each do |node|
                  %tr
                    %td= link_to node, url(:node, { :id => node } )
                    %td
                      = link_to('Edit', url(:edit_node, node)) 
                      |
                      = link_to('Delete', url(:node, node), :method => "delete", :confirm => "Really delete Node #{node}?  There is no undo.")
                    - even = (not even)