.block#block-tables
  .content
    %h2.title= "Environment #{h @environment.name}"
    .inner
      = render("navigation", :active => "show")
      .content
        .inner
          .left
            %h3 Name
            = @environment.name
          .left
            %h3 Description
            = @environment.description
          .left
            %h3 Cookbook Version Constraints
            %table.table
              %tr
                %th.first Name
                %th.last Version Constraints
              - if @environment.cookbook_versions.empty?
                %tr
                  %td{:colspan => 2} This environment does not include any cookbook version constraints.
              - else
                - @environment.cookbook_versions.keys.sort.each do |name|
                  - versions = @environment.cookbook_versions[name]
                  %tr
                    %td= name
                    %td= versions

          .left
            %h3 Default Attributes
            = build_tree('defattrs', @environment.default_attributes)

          .left
            %h3 Override Attributes
            = build_tree('overattrs', @environment.override_attributes)