.content
  .inner
    = form_tag form_url, :method => :post, :id => form_id, :class => 'form' do
      -if form_for == "login"
        %div.group
          .text_field= text_field_tag "name", params.has_key?(:name) ? h(params[:name]) : @user.name, :id => "user_name", :label => "Username: "
        %br/

        %div.group
          .text_field= password_field_tag "password", "", :id => "password", :label => "Password: ", :class => "password_field"
        %br/
        =link_to("Or, log in with OpenID if you have one associated with an existing user account.", openid_consumer_path)
        %br/

      - if form_for == "edit"
        %div.group.form
          %label.label New Password
          = password_field "new_password", "", :id => "user_new_password", :class => "password_field"
          %span.description New password for the User. Keep blank if you do not want to change password.

        %div.group.form
          %label.label Confirm New Password
          = password_field "confirm_new_password", "", :id => "user_confirm_new_password", :class =>"password_field"
          %span.description Confirm new password for the User. Keep blank if you do not want to change password.

        - if is_admin? && !is_last_admin?
          %div.group.form
            %label.label Admin
            %input{ :type => "hidden", :name => "admin", :value => 0 }
            %input{ :type => "checkbox", :name => "admin", :value => 1, :checked => @user.admin }
            %span.description Whether or not the User is an admin.

        %div.group.form
          %label.label OpenID Association
          = text_field_tag "openid", @user.openid, :id => "openid", :class => "text_field"
          %span.description Associate an OpenID with the user account, leave blank if you do not want to associate one.

      %div.group
        .actions-bar
          .actions= submit_tag submit_name, :id => submit_id, :class => 'button'
