.secondary-navigation
  %ul
    - if is_admin?
      %li{ :class => "first #{active == 'index' ? "active" : ''}"}= link_to('List', url(:users))
    - if is_admin?
      %li{ :class => (active == 'create' ? "active" : '')}= link_to('Create', url(:users_new))
    - if active != 'create' && active != 'index'
      %li{ :class => (active == 'show' ? "active" : '')}= link_to('Show', url(:users_show))
      - if @user.admin || @user.name == params[:user_id]
        %li{ :class => (active == 'edit' ? "active" : '')}= link_to('Edit', url(:users_edit, :user_id => params[:user_id]))
        %li= link_to('Delete', url(:users_delete, :user_id => params[:user_id]), :method => "delete", :confirm => "Really delete user #{params[:user_id]}? There is no undo.")
  .clear
