.block#block-tables
  .content
    %h2.title Users
    .inner
      = render('navigation', :active => 'index')
    .content
      .inner
        %table.table
          %tr
            %th.first{:colspan => 2} Username
            %th &nbsp;
            %th.last &nbsp;
          - even = false
          - @users.sort.each do |user, user_url|
            %tr{:class => even ? "even": "odd" }
              %td{:colspan => 2}= link_to user, users_show_path(user)
              %td
                = link_to('Edit', users_edit_path(user))
                |
                = link_to('Delete', users_delete_path(user), :method => "delete", :confirm => "Really delete User #{user}?  There is no undo.")
