.block#block-tables
  .content
    %h2.title Users
    .inner
      = partial('navigation', :active => 'index')
    .content
      .inner
        %table.table
          %tr
            %th.first{:colspan => 2} Username
            %th &nbsp;
            %th.last &nbsp;
          - even = false
          - @users.sort.each do |user, user_url|
            %tr{:class => even ? "even": "odd" }
              %td{:colspan => 2}= link_to user, url(:users_show, :user_id => user)
              %td
                = link_to('Edit', url(:users_edit, :user_id => user))
                |
                = link_to('Delete', url(:users_delete, :user_id => user), :method => "delete", :confirm => "Really delete User #{user}?  There is no undo.")
