.block#block-forms
  .content
    %h2.title Create New User
    .inner
      = partial('navigation', :active => 'create')
    .content
      .inner
        %form.form{ :method => "get", "accept-charset" => "UTF-8", :action => url(:users_create) }
          %table.table
            %tr
              %td= "Username"
              %td= text_field :name
            %tr
              %td= "Password"
              %td= password_field :password
            %tr
              %td= "Confirm Password"
              %td= password_field :password2
            %tr
              %td= "Admin"
              %td= check_box :name => "admin", :value => "1"
            %tr
              %td= "OpenID (optional)"
              %td= text_field :openid

          .group.navform
            .button= submit "Create"
