.block#block-tables
  .content
    %h2.title= "User: #{h @user.name}"
    .inner
      = partial("navigation", :active => "show")
      .content
        .inner
          .left
            %h3 Admin
            = @user.admin
          .left
            %h3 OpenID
            = @user.openid || "No OpenID associated to this user account."
